.container{
    position: fixed;
    width: 60%;
    margin: auto;
    margin-top: 100px;
    margin-left: 250px;
    min-height: 100px;
    padding: 20px;
    color: white;
}
input{
    background-color: black;
    color: white;
}
select{
    background-color: black;
    color: white;
}
label{
    font-size: 25px;
}
button:hover{
    background-color: black;
    color: white;
}
.page1{
    display: block
}
.page2{
    display:none ;
}
.page3{
    display: none;
}
.page4{
    display: none;
}
.page5{
    display: none;
}
p{
    display: inline;
    font-size: large;
}
.nav{
display: flex;
/* background-color: red;y */
width: 30%;
margin: auto;
justify-content: space-between;
height: 25px;
}
.nav div{
    border: 2px solid black;
    font-size: 18px;
    padding: 2px;
    color: black;
    font-weight: bold;
}
#step1{
    background-color: yellow;
}
#myVideo{
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    min-height: 100%;
}